<div class="controls-panel">
    <ul class="controls-panel__buttons">
        <li class="controls-panel__buttons__item">
            <div class="control-button control-button--blue">
                <span class="control-button__icon icon-add"></span>
            </div>
        </li>
        <li class="controls-panel__buttons__item">
            <div class="control-button control-button--green" data-state="disabled">
                <span class="control-button__icon icon-edit"></span>
            </div>
        </li>
        <li class="controls-panel__buttons__item">
            <div class="control-button control-button--red" data-state="disabled">
                <span class="control-button__icon icon-delete"></span>
            </div>
        </li>
    </ul>
    <div class="controls-panel__search">
        <input type="text" ng-model="settings.folders.search" class="form-control controls-panel__search-field" placeholder="Фильтр">
    </div>
</div>
<div class="spacer-20"></div>
<table class="stable">
    <thead>
    <tr>
        <th width="25%">Имя экспорта</th>
        <th width="25%">Путь</th>
        <th width="25%">Объем</th>
        <th width="25%">Использовано</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="folder in settings.folders | filter: settings.folders.search">
        <td>{{folder.name}}</td>
        <td>{{folder.path}}</td>
        <td>{{folder.volume}}</td>
        <td><span class="indicator" ng-class="{'indicator--green': folder.used <= 15, 'indicator--yellow':
            folder.used >= 16, 'indicator--red': folder.used >= 80 }">{{folder.used}}%</span>
        </td>
    </tr>
    </tbody>
</table>
<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true"><span class="icon-left"></span></span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true"><span class="icon-right"></span></span>
            </a>
        </li>
    </ul>
</nav>