<div class="display">
    <ul class="nav-panel">
        <li class="nav-panel__item" ng-class="{ active: settings.tab == 'pulls' }">
            <span class="nav-panel__item-icon icon-cloud"></span>
            <a class="nav-panel__item-link"  ng-click="settings.tab = 'pulls'">Пулы</a>
        </li>
        <li class="nav-panel__item" ng-class="{ active: settings.tab == 'targets'}">
            <span class="nav-panel__item-icon icon-target"></span>
            <a class="nav-panel__item-link" ng-click="settings.tab = 'targets'">Таргеты iSCSI</a>
        </li>
        <li class="nav-panel__item" ng-class="{ active: settings.tab == 'folders'}">
            <span class="nav-panel__item-icon icon-folder"></span>
            <a class="nav-panel__item-link" ng-click="settings.tab = 'folders'">Папки NFS</a>
        </li>
        <li class="nav-panel__item" ng-class="{ active: settings.tab == 'users'}">
            <span class="nav-panel__item-icon icon-user"></span>
            <a class="nav-panel__item-link" ng-click="settings.tab = 'users'">Пользователи</a>
        </li>
    </ul>
    <div class="spacer-20"></div>
    <div class="view-container animate-switch-container" ng-switch="settings.tab">
        <div class="animate-switch" ng-switch-when="pulls">
            <ng-include src="'src/templates/settings/pulls.html'"></ng-include>
        </div>
        <div class="animate-switch" ng-switch-when="targets">
            <ng-include src="'src/templates/settings/targets.html'"></ng-include>
        </div>
        <div class="animate-switch" ng-switch-when="folders">
            <ng-include src="'src/templates/settings/folders.html'"></ng-include>
        </div>
        <div class="animate-switch" ng-switch-when="users">
            <ng-include src="'src/templates/settings/users.html'"></ng-include>
        </div>
    </div>
</div>