<div class="controls-panel">
    <ul class="controls-panel__buttons">
        <li class="controls-panel__buttons__item">
            <div class="control-button control-button--blue" ng-click="settings.createPull()">
                <span class="control-button__icon icon-add"></span>
            </div>
        </li>
        <li class="controls-panel__buttons__item">
            <div class="control-button control-button--green" ng-click="settings.editPull()" ng-attr-data-state="{{ !settings.selectedPull.data ? 'disabled' : '' }}">
                <span class="control-button__icon icon-edit"></span>
            </div>
        </li>
        <li class="controls-panel__buttons__item">
            <div class="control-button control-button--red" ng-click="settings.deletePull()" ng-attr-data-state="{{ !settings.selectedPull.data ? 'disabled' : '' }}">
                <span class="control-button__icon icon-delete"></span>
            </div>
        </li>
    </ul>
    <div class="controls-panel__search">
        <input type="text" ng-model="settings.pulls.search" class="form-control controls-panel__search-field" placeholder="Фильтр">
    </div>
</div>
<div class="spacer-20"></div>
<table class="stable">
    <thead>
    <tr>
        <th width="20%">Название</th>
        <th width="20%">Надежность</th>
        <th width="20%">Кэш</th>
        <th width="20%">Объем</th>
        <th width="10%">Утилизация</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="pull in settings.pulls | filter: settings.pulls.search" ng-click="settings.selectPull($index,pull)" ng-class="{ 'selected': $index === settings.selectedPull.index }">
        <td>{{pull.name}}</td>
        <td>{{pull.reliability}}</td>
        <td>{{pull.cache}}</td>
        <td>{{pull.volume}}</td>
        <td><span class="indicator" ng-class="{'indicator--red': pull.utilization <= 30, 'indicator--yellow':
            pull.utilization <= 60, 'indicator--green': pull.utilization >= 61 }">{{pull.utilization}}%</span>
        </td>
    </tr>
    </tbody>
</table>
<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true"><span class="icon-left"></span></span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true"><span class="icon-right"></span></span>
            </a>
        </li>
    </ul>
</nav>
<script type="text/ng-template" id="confirmModal.html">
    <form  name="confirmForm" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <p class="form-control-static">Внимание! Операция необратима!<br/>
                    Вы действительно хотите удалить пул?</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': confirmForm.password.$invalid && (confirmForm.$submitted || confirmForm.password.$dirty) }">
                <label class="control-label" for="password">Пароль администратора</label>
                <input ng-model="layout.user.password" name="password" type="text" class="form-control" id="password" placeholder="" aria-describedby="passwordHelp" required>
                <span id="passwordHelp" ng-show="confirmForm.password.$error.required && (confirmForm.$submitted || confirmForm.password.$dirty)" class="help-block">Введите пароль</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="confirmModal.cancel()">Отмена</button>
            <button class="btn" ng-class="{'btn-primary': (confirmModal.action === 'add' || confirmModal.action === 'edit'), 'btn-danger': (confirmModal.action === 'delete') }" ng-click="confirmModal.submit(confirmForm)">{{confirmModal.buttonActionText}}</button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="pullModal.html">
    <form  name="pullForm" novalidate>
        <div class="modal-body" ng-if="pullModal.action === 'add' || pullModal.action === 'edit'">
            <div class="form-group" ng-class="{ 'has-error': pullForm.name.$invalid && (pullForm.$submitted || pullForm.name.$dirty) }">
                <label class="control-label" for="name">Имя пула</label>
                <input ng-model="pullModal.data.name" name="name" type="text" class="form-control" id="name" placeholder="" aria-describedby="nameHelp" required>
                <span id="nameHelp" ng-show="pullForm.name.$error.required && (pullForm.$submitted || pullForm.name.$dirty)" class="help-block">Заполните</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': pullForm.number.$invalid && (pullForm.$submitted || pullForm.number.$dirty) }">
                <label class="control-label" for="number">Количество копий</label>
                <input ng-model="pullModal.data.reliability" name="number" type="text" class="form-control" id="number" placeholder="" aria-describedby="numberHelp" required>
                <span id="numberHelp" ng-show="pullForm.number.$error.required && (pullForm.$submitted || pullForm.number.$dirty)" class="help-block">Заполните</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': pullForm.rootPath.$invalid && (pullForm.$submitted || pullForm.rootPath.$dirty) }">
                <label class="control-label" for="rootPath">Корень размещения</label>
                <select ng-model="pullModal.data.rootPath" name="rootPath" type="rootPath" class="form-control" id="rootPath" placeholder="" aria-describedby="rootPathHelp" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <span id="rootPathHelp" ng-show="pullForm.rootPath.$error.required && (pullForm.$submitted || pullForm.rootPath.$dirty)" class="help-block">Заполните</span>
            </div>
        </div>
        <div class="modal-body" ng-if="pullModal.action === 'delete'">
            <div class="form-group">
                <label class="control-label" for="name">Имя пула</label>
                <p class="form-control-static" ng-bind="pullModal.data.name"></p>
            </div>
            <div class="form-group">
                <label class="control-label" for="name">Надежность</label>
                <p class="form-control-static" ng-bind="pullModal.data.reliability"></p>
            </div>
            <div class="form-group">
                <label class="control-label" for="name">Кэш</label>
                <p class="form-control-static" ng-bind="pullModal.data.cache"></p>
            </div>
            <div class="form-group">
                <label class="control-label" for="name">Объем</label>
                <p class="form-control-static" ng-bind="pullModal.data.volume"></p>
            </div>
            <div class="form-group">
                <label class="control-label" for="name">Утилизация</label>
                <p class="form-control-static">
                     <span class="indicator" ng-class="{'indicator--red': pullModal.data.utilization <= 30, 'indicator--yellow':
            pullModal.data.utilization <= 60, 'indicator--green': pullModal.data.utilization >= 61 }">{{pullModal.data.utilization}}%</span>
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': pullForm.password.$invalid && (pullForm.$submitted || pullForm.password.$dirty) }">
                <label class="control-label" for="password">Пароль администратора</label>
                <input ng-model="layout.user.password" name="password" type="text" class="form-control" id="password" placeholder="" aria-describedby="passwordHelp" required>
                <span id="passwordHelp" ng-show="pullForm.password.$error.required && (pullForm.$submitted || pullForm.password.$dirty)" class="help-block">Введите пароль</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="pullModal.cancel()">Отмена</button>
            <button class="btn" ng-class="{'btn-primary': (pullModal.action === 'add' || pullModal.action === 'edit'), 'btn-danger': (pullModal.action === 'delete') }" ng-click="pullModal.submit(pullForm, pullModal)">{{pullModal.buttonActionText}}</button>
        </div>
    </form>
</script>