.status-box-tile
  position relative
  width 100%
  height 100%
  background #FFFFFF
  min-height 174px
  padding-bottom 16px

  &__name
    padding 16px 23px 0px 23px
    font-size 12px
    color #1A1A1A
    line-height 15px
    text-transform uppercase
    max-width 90%

  &__chart
    width 100%
    text-align center
    position relative

    &-value
      position absolute
      top 50%
      left 50%
      transform translate(-50%,-50%)

      &-wrapper
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        z-index 100
        text-align center

      &-num
        font-size 36px
        line-height 43px
        color #1A1A1A

        @media screen and (min-width: 1440px)
          font-size 48px
          line-height 56px

      &-ext
        opacity 0.4
        font-size 16px
        color #000000
        line-height 30px
        padding-left 7px
        vertical-align top

        @media screen and (min-width: 1440px)
          font-size 24px
          line-height 42px

  &__icon
    position absolute
    top 20px
    right 22px

    .icon
      font-size 16px
      color #1A1A1A

      &--small
        font-size 12px


  &__value
    position absolute
    bottom 10px
    left 16px

    &-current
      font-size 36px
      color #1A1A1A
      line-height 49px

      @media screen and (min-width: 1440px)
        font-size 48px
        line-height 56px

    &-ext
      opacity 0.4
      font-size 16px
      color #000000
      line-height 22px
      display inline-block
      position relative
      bottom 14px
      padding-left 4px

      @media screen and (min-width: 1440px)
        font-size 24px
        line-height 28px
        bottom 17px

  &__status-bar
    width 17px
    height 100px
    background #E8E8E8
    position absolute
    bottom 18px
    right 21px
    overflow hidden

    &__value
      position absolute
      bottom 0
      height 0px
      width 100%
      transition height 1s

    @media screen and (min-width: 1440px)
      height 65%

    @media screen and (min-width: 1920px)
      height 74%