<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7" lang="ru" ng-app="OsirisDashboard"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8" lang="ru" ng-app="OsirisDashboard" > <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9" lang="ru" ng-app="OsirisDashboard"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ru" ng-app="OsirisDashboard"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OSIRIS</title>
        <meta name="description" content="">
        <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
        <link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="dist/styles/main.css">
        <script src="dist/scripts/main.js"></script>
    </head>
    <body ng-controller="LayoutCtrl as layout">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="app-container">
            <header>
                <nav class="navbar navbar-fixed-top">
                    <div class="contaier-fluid">
                        <div class="row">
                            <div class="col-md-2 pull-left">
                                <a class="header__logo" href="#/"></a>
                            </div>
                            <div class="col-md-1 header__logout-wrapper pull-right" ng-show="!layout.login">
                                <a class="header__logout" ng-click="layout.logIn('sm')">
                                    <span class="header__logout-icon icon-exit"></span>
                                </a>
                            </div>
                            <div class="header__login pull-right" ng-show="layout.login">
                                    <div class="dropdown" dropdown on-toggle="toggled(open)">
                                        <div class="header__login-toggle" dropdown-toggle>
                                            <span class="header__login-icon"></span>
                                            <span class="header__login-login">{{layout.login}}</span>
                                            <span class="caret"></span>
                                        </div>
                                          <ul class="dropdown-menu">
                                              <li>
                                                  <a ng-href="">Настройки</a>
                                                  <a ng-href="" ng-click="layout.login = ''">Выйти</a>
                                              </li>
                                          </ul>
                                    </div>
                            </div>
                            <div class="header__id pull-right">
                                <div class="header__user">
                                    <span class="header__user-info">
                                        <div class="header__user-info__status-line">
                                            <div class="puls-line puls-line--small" data-sys-state="normal"></div>
                                        </div>
                                        <span class="header__user-info__name">MOSQUIT :</span> <span class="header__user-info__id">1234-5678-9101-1112</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="container-fluid app-container__main-container">
                <div class="row app-container__main-row">
                    <div class="sidebar">
                        <ul class="sidebar__menu">
                            <li class="sidebar__menu-item">
                                <a href="#/" class="sidebar__menu-item-link icon-monitor"
                                   ng-click="layout.page = '/'"
                                   ng-class="{active: layout.page == '/'}"></a>
                            </li>
                            <li class="sidebar__menu-item">
                                <a href="#/settings" class="sidebar__menu-item-link icon-controls"
                                   ng-click="layout.page = '/settings'"
                                   ng-class="{active: layout.page == '/settings'}"></a>
                            </li>
                            <li class="sidebar__menu-item">
                                <a href="#/processes" class="sidebar__menu-item-link icon-chip"
                                   ng-click="layout.page = '/processes'"
                                   ng-class="{active: layout.page == '/processes'}"></a>
                            </li>
                            <li class="sidebar__menu-item">
                                <a href="#/security" class="sidebar__menu-item-link icon-secure"
                                   ng-click="layout.page = '/security'"
                                   ng-class="{active: layout.page == '/security'}"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="container-fluid" id="main" ng-view></div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="logInModal.html">
            <form  name="loginForm" novalidate>
                <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error': loginForm.login.$invalid && (loginForm.$submitted || loginForm.login.$dirty) }">
                            <label class="control-label" for="login">Логин</label>
                            <input ng-model="logInModal.login" name="login" type="text" class="form-control" id="login" placeholder="" aria-describedby="loginHelp" required>
                            <span id="loginHelp" ng-show="loginForm.login.$error.required && (loginForm.$submitted || loginForm.login.$dirty)" class="help-block">Заполните</span>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': loginForm.password.$invalid && (loginForm.$submitted || loginForm.password.$dirty) }">
                            <label class="control-label" for="password">Пароль</label>
                            <input ng-model="logInModal.password" name="password" type="password" class="form-control" id="password" placeholder="" aria-describedby="passwordHelp" required>
                            <span id="passwordHelp" ng-show="loginForm.password.$error.required && (loginForm.$submitted || loginForm.password.$dirty)" class="help-block">Заполните</span>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="logInModal.cancel()">Отмена</button>
                    <button class="btn btn-primary" ng-click="logInModal.submit(loginForm)">Войти</button>
                </div>
            </form>
        </script>
        <!-- LiveReload -->
        <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>
