<div class="row sys-status">
    <div class="col-md-6 col-xs-6 sys-status__values">
        <div class="sys-grid">
            <div class="sys-grid__item">
                <div class="status-box-circular">
                    <div class="status-box-circular__name">Аварийные сервера</div>
                    <div class="status-box-circular__icon status-box-circular__icon--error" ng-click="monitoring.emergencyModal('lg', monitoring.emergencyServers)">
                        <span class="icon icon-unit"></span>
                    </div>
                    <div class="status-box-circular__value">
                        <span class="status-box-circular__value-current" count-to="6" value="0" duration="0.5"></span>
                        <span class="status-box-circular__value-total">/ 256</span>
                    </div>
                </div>
            </div>
            <div class="sys-grid__item">
                <div class="status-box-circular">
                    <div class="status-box-circular__name">Аварийные диски</div>
                    <div class="status-box-circular__icon status-box-circular__icon--normal" ng-click="monitoring.emergencyModal('lg', monitoring.emergencyDisks)">
                        <span class="icon icon-hdd"></span>
                    </div>
                    <div class="status-box-circular__value">
                        <span class="status-box-circular__value-current" count-to="0" value="0" duration="0.5"></span>
                        <span class="status-box-circular__value-total">/ 256</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sys-grid">
            <div class="sys-grid__item">
                <div class="status-box-circular">
                    <div class="status-box-circular__name">Количество свободных резервных копий</div>
                    <div class="status-box-circular__icon status-box-circular__icon--warning">
                        <span class="icon icon-warning"></span>
                    </div>
                    <div class="status-box-circular__value">
                        <span class="status-box-circular__value-current" count-to="2" value="0" duration="0.5"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-6 sys-status__monitor">
        <div class="sys-status__monitor__label">Статус системы</div>
        <div class="sys-status__monitor__value">Рабочий</div>
        <div class="sys-status__monitor__puls-wrapper">
            <div class="sys-status__monitor__puls"></div>
        </div>
        <div class="sys-status__monitor__puls-line-wrapper">
            <div class="puls-line puls-line--big" data-sys-state="normal"></div>
        </div>
    </div>
</div>
<div class="row tile-row scale">
    <div class="tile-row__item">
        <div class="status-box-tile">
                <div class="status-box-tile__name">Объем реервных копий</div>
            <div class="status-box-tile__icon">
                <span class="icon icon-box"></span>
            </div>
            <div class="status-box-tile__value">
                <span class="status-box-tile__value-current" count-to="{{monitoring.num1}}" value="0" duration="0.5"></span>
                <span class="status-box-tile__value-ext">ГБ</span>
            </div>
        </div>
    </div>
    <div class="tile-row__item">
        <div class="status-box-tile">
            <div class="status-box-tile__name">Средняя утилизация процессоров</div>
            <div class="status-box-tile__icon">
                <span class="icon icon-chip"></span>
            </div>
            <div class="status-box-tile__status-bar">
                <div class="status-box-tile__status-bar__value bg-warning" title="{{monitoring.num2}}%" style="height: {{monitoring.num2}}%;"></div>
            </div>
            <div class="status-box-tile__value">
                <span class="status-box-tile__value-current" count-to="{{monitoring.num2}}" value="0" duration="0.5"></span>
                <span class="status-box-tile__value-ext">%</span>
            </div>
        </div>
    </div>
    <div class="tile-row__item">
        <div class="status-box-tile">
            <div class="status-box-tile__name">Средняя утилизация памяти</div>
            <div class="status-box-tile__icon">
                <span class="icon icon-db icon--small"></span>
            </div>
            <div class="status-box-tile__status-bar">
                <div class="status-box-tile__status-bar__value bg-normal" title="{{monitoring.num3}}%" style="height: {{monitoring.num5}}%;"></div>
            </div>
            <div class="status-box-tile__value">
                <span class="status-box-tile__value-current" count-to="{{monitoring.num3}}" value="0" duration="0.5"></span>
                <span class="status-box-tile__value-ext">/ 16 ГБ</span>
            </div>
        </div>
    </div>
    <div class="tile-row__item">
        <div class="status-box-tile">
            <div class="status-box-tile__name">Средняя утилизация</div>
            <div class="status-box-tile__icon">
                <span class="icon icon-net"></span>
            </div>
            <div class="status-box-tile__status-bar">
                <div class="status-box-tile__status-bar__value bg-error" title="{{monitoring.num4}}%" style="height: {{monitoring.num6}}%;"></div>
            </div>
            <div class="status-box-tile__value">
                <span class="status-box-tile__value-current" count-to="{{monitoring.num4}}" value="0" duration="0.5">0,98</span>
                <span class="status-box-tile__value-ext">/ 1 ТБ</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="header-h2">Утилизация пулов</h2>
    </div>
</div>
<div class="row">
    <div class="tile-row">
        <div class="tile-row__item">
            <div class="status-box-tile status-box-tile--with-chart">
                <div class="status-box-tile__name">rbd</div>
                <div class="status-box-tile__chart">
                    <canvas id="chart1"></canvas>
                    <div class="status-box-tile__chart-value-wrapper">
                        <div class="status-box-tile__chart-value">
                            <span class="status-box-tile__chart-value-num" count-to="{{monitoring.chart1}}" value="0" duration="0.75"></span>
                            <span class="status-box-tile__chart-value-ext">%</span>
                        </div>
                    </div>
                </div>
                <div class="status-box-tile__icon">
                    <span class="icon icon--small icon-db"></span>
                </div>
            </div>
        </div>
        <div class="tile-row__item">
            <div class="status-box-tile status-box-tile--with-chart">
                <div class="status-box-tile__name">data</div>
                <div class="status-box-tile__chart">
                    <canvas id="chart2"></canvas>
                    <div class="status-box-tile__chart-value-wrapper">
                        <div class="status-box-tile__chart-value">
                            <span class="status-box-tile__chart-value-num" count-to="{{monitoring.chart2}}" value="0" duration="0.75"></span>
                            <span class="status-box-tile__chart-value-ext">%</span>
                        </div>
                    </div>
                </div>
                <div class="status-box-tile__icon">
                    <span class="icon icon--small icon-db"></span>
                </div>
            </div>
        </div>
        <div class="tile-row__item">
            <div class="status-box-tile status-box-tile--with-chart">
                <div class="status-box-tile__name">cache</div>
                <div class="status-box-tile__chart">
                    <canvas id="chart3"></canvas>
                    <div class="status-box-tile__chart-value-wrapper">
                        <div class="status-box-tile__chart-value">
                            <span class="status-box-tile__chart-value-num" count-to="{{monitoring.chart3}}" value="0" duration="0.75"></span>
                            <span class="status-box-tile__chart-value-ext">%</span>
                        </div>
                    </div>
                </div>
                <div class="status-box-tile__icon">
                    <span class="icon icon--small icon-db"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="emergencyModal.html">
    <div class="modal-body">
        <div class="controls-panel">
            <ul class="controls-panel__buttons controls-panel__buttons--without-min-width">
                <li class="controls-panel__buttons__item">
                    <div class="control-button control-button--blue">
                        <span class="control-button__icon icon-add"></span>
                    </div>
                </li>
            </ul>
            <div class="controls-panel__search">
                <input ng-model="emergencyModal.filter" type="text" class="form-control controls-panel__search-field" placeholder="Фильтр">
            </div>
        </div>
        <div class="spacer-20"></div>
        <table class="stable stable--without-hover">
            <thead>
            <tr>
                <th width="50%">Сервер</th>
                <th width="50%">Состояние</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in emergencyModal.items | filter: emergencyModal.filter">
                    <td ng-bind="item.name"></td>
                    <td>
                        <span class="control-button__icon state__icon icon-warning" ng-if="item.state == 'warning'"></span>
                        <span class="control-button__icon state__icon icon-fire" ng-if="item.state == 'critical'"></span>
                        <div class="controls-panel__buttons__item">
                            <div class="control-button control-button--yellow" ng-if="item.state == 'warning'">
                                <span class="control-button__icon icon-repair"></span>
                            </div>
                            <div class="control-button control-button--red" ng-if="item.state == 'critical'">
                                <span class="control-button__icon icon-delete"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="spacer-20"></div>
        <nav>
            <ul class="pagination pagination--without-margin">
                <li>
                    <a href="" aria-label="Previous">
                        <span aria-hidden="true"><span class="icon-left"></span></span>
                    </a>
                </li>
                <li class="active"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li>
                    <a href="" aria-label="Next">
                        <span aria-hidden="true"><span class="icon-right"></span></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="emergencyModal.close()">Закрыть</button>
    </div>
</script>