<div class="controls-panel">
    <div class="controls-panel__search">
        <input type="text" ng-model="processes.connects.search" class="form-control controls-panel__search-field" placeholder="Фильтр">
    </div>
</div>
<div class="spacer-20"></div>
<h2 class="header-h2 upper-case">Подключения по протоколам rdb/iscsi/nfs</h2>
<div class="spacer-20"></div>
<table class="stable">
    <thead>
    <tr>
        <th width="25%">Протокол</th>
        <th width="25%">Исходный адрес</th>
        <th width="25%">Количество подключений</th>
        <th width="25%">Время активного подключения</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="connect in processes.connects | filter: processes.connects.search">
        <td>{{connect.protocol}}</td>
        <td>{{connect.ip}}</td>
        <td>{{connect.count}}</td>
        <td>{{connect.time}}</td>
    </tr>
    </tbody>
</table>
<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true"><span class="icon-left"></span></span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true"><span class="icon-right"></span></span>
            </a>
        </li>
    </ul>
</nav>