<div class="display">
    <ul class="nav-panel">
        <li class="nav-panel__item" ng-class="{ active: processes.tab == 'connects' }">
            <span class="nav-panel__item-icon icon-link"></span>
            <a class="nav-panel__item-link" ng-click="processes.tab = 'connects'">Подключения по протоколам</a>
        </li>
        <li class="nav-panel__item" ng-class="{ active: processes.tab == 'speed' }">
            <span class="nav-panel__item-icon icon-speed"></span>
            <a class="nav-panel__item-link" ng-click="processes.tab = 'speed'">Скорость балансировки</a>
        </li>
        <li class="nav-panel__item" ng-class="{ active: processes.tab == 'process' }">
            <span class="nav-panel__item-icon icon-process"></span>
            <a class="nav-panel__item-link" ng-click="processes.tab = 'process'">Процессы репликации</a>
        </li>
    </ul>
    <div class="spacer-20"></div>
    <div class="view-container animate-switch-container" ng-switch="processes.tab">
        <div class="animate-switch" ng-switch-when="connects">
            <ng-include src="'src/templates/processes/connects.html'"></ng-include>
        </div>
        <div class="animate-switch" ng-switch-when="speed">
            <ng-include src="'src/templates/processes/speed.html'"></ng-include>
        </div>
        <div class="animate-switch" ng-switch-when="process">
            <ng-include src="'src/templates/processes/process.html'"></ng-include>
        </div>
    </div>
</div>