<div class="controls-panel">
    <div class="controls-panel__search">
        <input type="text" ng-model="processes.process.search" class="form-control controls-panel__search-field" placeholder="Фильтр">
    </div>
</div>
<div class="spacer-20"></div>
<h2 class="header-h2 upper-case">Процессы репликации</h2>
<div class="spacer-20"></div>
<table class="stable">
    <thead>
    <tr>
        <th width="25%">Имя пула или образа диска</th>
        <th width="25%">Общий размер</th>
        <th width="25%">Прогресс репликации</th>
        <th width="25%">Целевая система</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="process in processes.process | filter: processes.process.search">
        <td>{{process.name}}</td>
        <td>{{process.volume}}</td>
        <td>{{process.progress}}</td>
        <td>{{process.goal}}</td>
    </tr>
    </tbody>
</table>
<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true"><span class="icon-left"></span></span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true"><span class="icon-right"></span></span>
            </a>
        </li>
    </ul>
</nav>