<h2 class="header-h2 upper-case">Скорость балансировки кластера</h2>
<div class="spacer-20"></div>
<div class="tile-row tile-row--3-items tile-row--with-border scale">
    <div class="tile-row__item">
        <div class="status-box-tile">
            <div class="status-box-tile__name">Чистых групп размещения</div>
            <div class="status-box-tile__icon">
                <span class="icon icon-list"></span>
            </div>
            <div class="status-box-tile__value">
                <span class="status-box-tile__value-current ng-scope" count-to="17" value="0" duration="0.5">17</span>
            </div>
        </div>
    </div>
    <div class="tile-row__item">
        <div class="status-box-tile">
            <div class="status-box-tile__name">Всего групп размещения</div>
            <div class="status-box-tile__icon">
                <span class="icon icon-grid"></span>
            </div>
            <div class="status-box-tile__value">
                <span class="status-box-tile__value-current ng-scope" count-to="19" value="0" duration="0.5">19</span>
            </div>
        </div>
    </div>
    <div class="tile-row__item">
        <div class="status-box-tile">
            <div class="status-box-tile__name">Скорость балансировки</div>
            <div class="status-box-tile__icon">
                <span class="icon icon-speed"></span>
            </div>
            <div class="status-box-tile__value">
                <span class="status-box-tile__value-current ng-scope" count-to="2345" value="0" duration="0.5">2345</span>
                <span class="status-box-tile__value-ext">КБ/С</span>
            </div>
        </div>
    </div>
</div>