.indicator
  display inline-block
  min-width 44px
  font-family 'Open Sans', sans-serif;
  background #F0F0F0
  color #FFFFFF
  font-size 12px
  font-weight 600
  line-height 17px
  text-align center
  padding 1px 10px
  border-radius 2px

  &--green
    background $status-normal

  &--yellow
    background $status-warning

  &--red
    background $status-error
