.spacer
  display block
  height 0

  &-20
    margin-bottom 20px

.upper-case
  text-transform uppercase

.header-h2
  font-size 18px
  font-weight 400
  line-height 21px
  text-transform uppercase
  color #272B2B

.icon2
  width 20px
  height 20px