.pagination
  margin 18px 0 0 0

  .icon-right
  .icon-left
    font-size 10px
    line-height 17px

  .icon-right
    margin-left 3px

  .icon-left
    margin-right 3px

  &--without-margin
    margin 0

.pagination > li > a
.pagination > li > span
  font-size 12px
  font-weight 600
  line-height 17px
  color #717171
  border none
  padding 0px 7px 5px 7px
  margin 0 2px
  border-bottom-right-radius 0px !important
  border-bottom-left-radius 0px !important

.pagination > .active > a
.pagination > .active > span
.pagination > .active > a:hover
.pagination > .active > span:hover
.pagination > .active > a:focus
.pagination > .active > span:focus
.pagination > li > a:hover
.pagination > li > span:hover
.pagination > li > a:focus
.pagination > li > span:focus
  color #717171
  background none
  border-bottom 2px solid #00A8CC

.form
  width 384px
  padding-left 15px
  padding-right 15px
  padding-bottom 76px
  position relative

.modal-content
  .form-group:first-child
    margin-top -3px


select
  background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAMAAABPT11nAAAAElBMVEUAAAC4uLi2tra5ubm5ubm5ublxpdp3AAAABXRSTlMANj/d9LZajjYAAAAhSURBVAjXY2BmBQNmBiYWEM3CxABmgWgQC0IzMDAyAgkADGkAaYTy9FMAAAAASUVORK5CYII=') !important
  background-repeat no-repeat
  background-position right 17px center

label
  font-weight 600
  font-size 10px
  color #717171
  text-transform uppercase
  letter-spacing 0.5px
  line-height 14px

.form-control
  box-shadow none
  appearance none
  -webkit-appearance none

.form-control-static
  padding-top 0
  padding-bottom 0

.modal-content
  border-radius 0
  box-shadow none

.modal-backdrop
  bottom 0

.modal-footer
  padding 0px 40px 40px 40px
  border-top none

.btn-default
  color #A3A3A3
  background-color #F0F0F0
  border-color #F0F0F0

.btn-default:hover
.btn-default:focus
.btn-default:active
.btn-default.active
.open .dropdown-toggle.btn-default
  color #A3A3A3
  background-color #f2f2f2
  border-color #F0F0F0

.btn-default:active
.btn-default.active
.open .dropdown-toggle.btn-default
  background-image none

.btn-default.disabled
.btn-default[disabled]
fieldset[disabled] .btn-default
.btn-default.disabled:hover
.btn-default[disabled]:hover
fieldset[disabled] .btn-default:hover
.btn-default.disabled:focus
.btn-default[disabled]:focu,
fieldset[disabled] .btn-default:focus
.btn-default.disabled:active
.btn-default[disabled]:active
fieldset[disabled] .btn-default:active
.btn-default.disabled.active
.btn-default[disabled].active
fieldset[disabled] .btn-default.active
  background-color #F0F0F0
  border-color #F0F0F0

.btn-default .badge
  color #F0F0F0
  background-color #A3A3A3

.btn-primary
  color #FFFFFF
  background-color #00A8CC
  border-color #00A8CC

.btn-primary:hover
.btn-primary:focus
.btn-primary:active
.btn-primary.active
.open .dropdown-toggle.btn-primary
  color #FFFFFF
  background-color #00c1eb
  border-color #00c1eb

.btn-primary:active
.btn-primary.active
.open .dropdown-toggle.btn-primary
  background-image none

.btn-primary.disabled
.btn-primary[disabled]
fieldset[disabled] .btn-primary
.btn-primary.disabled:hover
.btn-primary[disabled]:hover
fieldset[disabled] .btn-primary:hover
.btn-primary.disabled:focus
.btn-primary[disabled]:focus
fieldset[disabled] .btn-primary:focus
.btn-primary.disabled:active
.btn-primary[disabled]:active
fieldset[disabled] .btn-primary:active
.btn-primary.disabled.active
.btn-primary[disabled].active
fieldset[disabled] .btn-primary.active
  background-color #00A8CC
  border-color #00A8CC

.btn-primary .badge
  color #00A8CC
  background-color #FFFFFF

.btn-danger
  color #FFFFFF
  background-color #AB0000
  border-color #A20000

.btn-danger:hover
.btn-danger:focus
.btn-danger:active
.btn-danger.active
.open .dropdown-toggle.btn-danger
  color #FFFFFF
  background-color #cd0000
  border-color #c50000

.btn-danger:active
.btn-danger.active
.open .dropdown-toggle.btn-danger
  background-image none

.btn-danger.disabled
.btn-danger[disabled]
fieldset[disabled] .btn-danger
.btn-danger.disabled:hover
.btn-danger[disabled]:hover
fieldset[disabled] .btn-danger:hover
.btn-danger.disabled:focus
.btn-danger[disabled]:focus
fieldset[disabled] .btn-danger:focus
.btn-danger.disabled:active
.btn-danger[disabled]:active
fieldset[disabled] .btn-danger:active
.btn-danger.disabled.active
.btn-danger[disabled].active
fieldset[disabled] .btn-danger.active
  background-color #AB0000
  border-color #A20000

.btn-danger .badge
  color #AB0000
  background-color #FFFFFF