$status-error = #AB0000
$status-warning = #FFC400
$status-normal = #00AB3C

.bg-error
  background $status-error
.bg-warning
  background $status-warning
.bg-normal
  background $status-normal
.color-error
  color $status-error
.color-warning
  color $status-warning
.color-normal
  color $status-normal