.stable
  width 100%
  border 1px solid #DEDEDE

  thead
    border-bottom 4px solid #E8E8E8
    & > tr > th
        font-size 10px
        font-weight 600
        color #717171
        letter-spacing 0.5px
        line-height 14px
        text-transform uppercase
        padding 16px 20px
        background #F7F7F7

  tbody
    tr
      background #FFFFFF
      cursor pointer

      &:hover
        outline 2px solid #00A8CC
        outline-offset -2px

      &.selected
        outline 2px solid #00A8CC
        outline-offset -2px

    tr:nth-child(even)
      background #F7F7F7

    & > tr > td
      padding 16px 20px
      border 1px solid #DEDEDE
      font-size 14px
      color #1A1A1A

      .state__icon
        display inline-block
        width 16px
        text-align center
        margin-right 16px


  &--without-hover
    tbody
      tr
        cursor inherit

        &:hover
          outline none