@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?qo4x9c');
	src:url('../fonts/icomoon.eot?#iefixqo4x9c') format('embedded-opentype'),
		url('../fonts/icomoon.woff?qo4x9c') format('woff'),
		url('../fonts/icomoon.ttf?qo4x9c') format('truetype'),
		url('../fonts/icomoon.svg?qo4x9c#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-repair:before {
	content: "\e61b";
}

.icon-fire:before {
	content: "\e61c";
}

.icon-grid:before {
	content: "\e619";
}

.icon-list:before {
	content: "\e61a";
}

.icon-right:before {
	content: "\e617";
}

.icon-left:before {
	content: "\e618";
}

.icon-add:before {
	content: "\e613";
}

.icon-edit:before {
	content: "\e614";
}

.icon-delete:before {
	content: "\e615";
}

.icon-search:before {
	content: "\e616";
}

.icon-refresh:before {
	content: "\e60b";
}

.icon-speed:before {
	content: "\e60c";
}

.icon-process:before {
	content: "\e60d";
}

.icon-link:before {
	content: "\e60e";
}

.icon-cloud:before {
	content: "\e60f";
}

.icon-target:before {
	content: "\e610";
}

.icon-folder:before {
	content: "\e611";
}

.icon-user:before {
	content: "\e612";
}

.icon-chip:before {
	content: "\e602";
}

.icon-controls:before {
	content: "\e603";
}

.icon-monitor:before {
	content: "\e604";
}

.icon-db:before {
	content: "\e605";
}

.icon-secure:before {
	content: "\e600";
}

.icon-box:before {
	content: "\e60a";
}

.icon-warning:before {
	content: "\e601";
}

.icon-unit:before {
	content: "\e606";
}

.icon-hdd:before {
	content: "\e607";
}

.icon-exit:before {
	content: "\e608";
}

.icon-net:before {
	content: "\e609";
}

