.status-box-circular
  padding 18px 20px 0px

  &__name
    font-size 12px
    color #1a1a1a
    line-height 15px
    text-transform uppercase
    margin-bottom 8px

  &__icon
    width 60px
    height 60px
    border-radius 50%
    text-align center
    float left

    &--error
      background $status-error

    &--warning
      background $status-warning

    &--normal
      background $status-normal

    &[ng-click]
      cursor pointer

    .icon
      font-size 25px
      line-height 60px
      color #FFFFFF

  &__value
    margin-left 79px
    margin-top 13px

    &-current
      font-size 36px
      color #1A1A1A
      line-height 49px

      @media screen and (min-width: 1440px)
        font-size 48px
        line-height 56px

    &-total
      opacity 0.4
      font-size 16px
      color #000000
      line-height 22px
      display inline-block
      position relative
      bottom 14px

      @media screen and (min-width: 1440px)
        font-size 24px
        line-height 28px
        bottom 17px