.nav-panel
  margin 0
  padding 0
  list-style none
  border-bottom 1px solid #DEDEDE

  &::after
    display table
    content ''
    clear both

  &__item
    float left
    margin-left 38px
    margin-bottom -1px

    &-link
      display inline-block
      font-size 14px !important
      padding-bottom 16px
      color #A3A3A3 !important
      cursor pointer

      .active &
        color #1A1A1A !important

      &:hover
        text-decoration none

    &-icon
      font-size 14px
      color #A3A3A3
      margin-right 2px

      .active &
          color #1A1A1A

    &:first-child
      margin-left 0

    &.active
      border-bottom 2px solid #00A8CC

    &:hover
      border-bottom 2px solid #00A8CC

      .nav-panel__item-icon
      .nav-panel__item-link
        color #1A1A1A !important
