<div class="display">
    <ul class="nav-panel">
        <li class="nav-panel__item" ng-class="{ active: security.tab == 'manage-copy'}">
            <span class="nav-panel__item-icon icon-process"></span>
            <a class="nav-panel__item-link" ng-click="security.tab = 'manage-copy'">Управление аварийным переключением</a>
        </li>
        <li class="nav-panel__item" ng-class="{ active: security.tab == 'manage-refresh'}">
            <span class="nav-panel__item-icon icon-refresh"></span>
            <a class="nav-panel__item-link" ng-click="security.tab = 'manage-refresh'">Управление резервными копиями</a>
        </li>
    </ul>
    <div class="spacer-20"></div>
    <div class="view-container animate-switch-container" ng-switch="security.tab">
        <div class="animate-switch" ng-switch-when="manage-copy">
            <ng-include src="'src/templates/security/manage-copy.html'"></ng-include>
        </div>
        <div class="animate-switch" ng-switch-when="manage-refresh">
            <ng-include src="'src/templates/security/manage-refresh.html'"></ng-include>
        </div>
    </div>
</div>