<div class="controls-panel controls-panel--with-selector">
    <ul class="controls-panel__buttons">
        <li class="controls-panel__buttons__item">
            <div class="control-button control-button--blue">
                <span class="control-button__icon icon-add"></span>
            </div>
        </li>
        <li class="controls-panel__buttons__item">
            <div class="control-button control-button--green" data-state="disabled">
                <span class="control-button__icon icon-edit"></span>
            </div>
        </li>
        <li class="controls-panel__buttons__item">
            <div class="control-button control-button--red" data-state="disabled">
                <span class="control-button__icon icon-delete"></span>
            </div>
        </li>
    </ul>
    <div class="controls-panel__search">
        <input type="text" ng-model="security.pulls.search" class="form-control controls-panel__search-field" placeholder="Фильтр">
    </div>
    <div class="controls-panel__selector">
        <select ng-model="security.pulls.select" ng-options="item_options.label for item_options in security.options track by item_options.value" class="form-control controls-panel__selector-field">
        </select>
    </div>
</div>
<div class="spacer-20"></div>
<table class="stable">
    <thead>
    <tr>
        <th width="20%">Название</th>
        <th width="20%">Надежность</th>
        <th width="20%">Кэш</th>
        <th width="20%">Объем</th>
        <th width="10%">Утилизация</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="pull in security.pulls | filter: security.pulls.search | filter: { 'name' : security.pulls.select ? security.pulls.select.value : '' }">
        <td>{{pull.name}}</td>
        <td>{{pull.reliability}}</td>
        <td>{{pull.cache}}</td>
        <td>{{pull.volume}}</td>
        <td><span class="indicator" ng-class="{'indicator--red': pull.utilization <= 30, 'indicator--yellow':
            pull.utilization <= 60, 'indicator--green': pull.utilization >= 61 }">{{pull.utilization}}%</span>
        </td>
    </tr>
    </tbody>
</table>
<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true"><span class="icon-left"></span></span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true"><span class="icon-right"></span></span>
            </a>
        </li>
    </ul>
</nav>