<div class="row">
    <div class="form">
        <form>
            <div class="form-group">
                <label for="backup__name">Имя аварийного резерва</label>
                <input type="text" class="form-control" id="backup__name" placeholder="">
            </div>
            <div class="form-group">
                <label for="backup__pull">Исходный ресурс</label>
                <select class="form-control" id="backup__pull">
                    <option>Пул1</option>
                    <option>Пул2</option>
                    <option>Пул3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="backup__goal">Целевое назначение</label>
                <input type="text" class="form-control" id="backup__goal" placeholder="">
            </div>
            <div class="form-group">
                <label for="backup__type">Тип</label>
                <select class="form-control" id="backup__type">
                    <option>Файловая копия 1</option>
                    <option>Файловая копия 2</option>
                    <option>Файловая копия 3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="backup__timesheet">Расписание</label>
                <select class="form-control" id="backup__timesheet">
                    <option>Ежедневно</option>
                    <option>Еженедельно</option>
                    <option>Ежемесячно</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="reset" class="btn btn-default">Отмена</button>
        </form>
    </div>
</div>