.control-button
  width 43px
  height 43px
  border-radius 5px
  background #F0F0F0
  text-align center
  line-height 43px
  color #FFFFFF
  font-size 14px
  cursor pointer

  &--blue
    background #00A8CC
    &:hover
      background #00B1D9
  &--green
    background #00AB3C
    &:hover
      background #00B840
  &--red
    background #AB0000
    &:hover
      background #B80000
  &--yellow
    background #FFC400
    &:hover
      background #FFD900

  &[data-state="disabled"]
    background #F0F0F0
    color #A3A3A3
    cursor auto